.footer {
    grid-area: f;
    background-color: #8c7930;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;

}

.footer__text {
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}